{% extends 'base.html' %}

{% block content %}
{% for msg in get_flashed_messages() %}
    <div class="alert alert-secondary alert-dismissible fade show" role="alert">
        {{ msg }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}


{% if post %}
<div class="card-columns">
  <div class="row">
  <div class="col-lg-3 mb-4">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{ post.title }}</h5>
          <p class="card-text">{{ post.content|safe }}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Topic: {{ post.slug }}</li>
          <li class="list-group-item">By: {{ post.poster.name }}</li>
          <li class="list-group-item">Posted: {{ post.date_posted }}</small></li>
        </ul>
        <div class="card-body">
          <a href="{{url_for('view_replies',id=post.id)}}" class="btn btn-outline-danger btn-sm" >View Replies</a>
          <button class="btn btn-outline-danger btn-sm" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="true" aria-controls="collapseExample" >Edit Post</button>
          <a href="{{ url_for('delete_post', id=post.id) }}" class="btn btn-outline-danger btn-sm" >Delete</a>
        </div>
      </div>
    </div>
      <div class="collapse" id="collapseExample">
        <div class="card card-body">
          <form action="{{ url_for('edit_post',id=post.id) }}" method="POST"class="shadow p-3 mb-5 bg-body rounded">
            {{ form.hidden_tag() }}
            {{ form.title.label(class="form-label") }}
            {{ form.title(class="form-control",value=post.title) }}
            <br/>
            {{ form.slug.label(class="form-label") }}
            {{ form.slug(class="form-control",value=post.slug) }}
            <br/>
            {{ form.content.label(class="form-label") }}
            {{ form.content(class="form-control", rows="10") }}
            <br/>
            {{ form.submit(class="btn btn-secondary") }}
        </form>
        {{ ckeditor.load() }}
        {{ ckeditor.config(name='content') }}
        </div>
      </div>
  </div>
</div>
{% else %} 
    <h3>No posts yet</h3>
    <h4>Click here to post</h4>
    <a href="{{ url_for('add_post') }}" class="btn btn-outline-danger btn-sm">Post</a>
{% endif %}
{% endblock %}