{% extends 'base.html' %}

{% block content %}
{% for msg in get_flashed_messages() %}
    <div class="alert alert-secondary alert-dismissible fade show" role="alert">
        {{ msg }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}


<form method="POST"class="shadow p-3 mb-5 bg-body rounded">
    {{ form.hidden_tag() }}
    {{ form.username.label() }}
    <div class="w-50 p-3" >
    {{ form.username(class="form-control") }}
    </div>
    {{ form.password.label() }}
    <div class="w-50 p-3" >
    {{ form.password(class="form-control") }}
    </div>
    <br/>
    {{ form.submit(class="btn btn-secondary") }}
</form>
<p>Don't have an account?? Click here to register <a href="{{ url_for('register_user') }}">Register</a></p>

{% endblock %}