{% extends 'base.html' %}


{% block content %}
{% for msg in get_flashed_messages() %}
    <div class="alert alert-secondary alert-dismissible fade show" role="alert">
        {{ msg }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}


<div class="card">
    <div class="card-body">
     
      <p class="card-text">
  
  <div class="container">
      <div class="row">
          <div class="col-8">
  
      <strong>Name:</strong>
      {{ current_user.name }}<br/>
  
      <strong>Username:</strong>
      {{ current_user.username }}<br/>
  
      <strong>User Id:</strong>
      {{ current_user.id }}<br/>
  
      <strong>Email:</strong>
      {{ current_user.email }}<br/>
  
      <strong>Date Joined:</strong>
      {{ current_user.date_added.strftime('%d %b %Y') }}<br/>
  
      </p> 
      <button class="btn btn-outline-primary btn-sm" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="true" aria-controls="collapseExample" >Update Profile</button>
  
      <a href="{{ url_for('logout')}}" class="btn btn-outline-danger btn-sm">Logout</a>

      <a href="{{ url_for('delete_user',id=current_user.id)}}" method="POST" class="btn btn-danger btn-sm">Delete</a>
      <br/><br/>
  
    
      </div>
      <div class="col-4">
          <img src="{{ url_for('static', filename='files/') + current_user.profile_pic}}" width="200" align="right">
      </div>
</div>
  <div class="collapse" id="collapseExample">
    <div class="card-header">
        Update Profile
    </div>
    <div class="card card-body">
      <form action="{{ url_for('update_user', id=current_user.id) }}" method="POST"class="shadow p-3 mb-5 bg-body rounded" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        {{ form.name.label(class="form-label") }}
		{{ form.name(class="form-control", value=name_to_update.name) }}
        <br/>
        {{ form.username.label(class="form-label") }}
		{{ form.username(class="form-control", value=name_to_update.username) }}
        <br/>
        {{ form.email.label(class="form-label") }}
		{{ form.email(class="form-control", value=name_to_update.email) }}
        <br/>
        {{ form.profile_pic.label(class="form-label") }}
		{{ form.profile_pic(class="form-control", value=name_to_update.profile_pic) }}
        </br>
        {{ form.submit(class="btn btn-secondary") }}
    </form>
    </div>
  </div>
{% endblock %}